option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application

packages:
  yum:
    gcc: []
    gcc-c++: []
    python3-devel: []
    mesa-libGL: []
    ffmpeg: []
    flac: []
    swig: []

commands:
  01_install_ffmpeg:
    command: "amazon-linux-extras install -y epel && yum -y install ffmpeg ffmpeg-devel"
    ignoreErrors: true